.inventoryBody {
    display: flex; 
    align-Items: center; 
    justify-Content: center;
    flex-direction: column;
}

.inventoryButton {
    background-color: skyblue;
    border: solid 0.5px;
    border-radius: 30px;
    cursor: pointer;
}

.MuiSvgIcon-root {
    cursor: pointer;
}
