.overallContainer {
  width: 100%;
  height: 100%;
}

.componentTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 0.5px;
  width: 90%;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.genericTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 0.5px;
  width: 80%;
  margin-top: 1.5rem;
}

.supplierTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 0.5px;
  width: 100%;
  margin-top: 1.5rem;
}

.inventoryTable {
    display: flex;
    flex-direction: column;
    border: solid 0.5px;
    width: 60%;
    overflow: scroll;
    height: 600px;
}

.placeOrderTable {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: solid 0.5px;
    width: 60%;
    max-height: 500px;
}

.tbody {
    overflow: scroll;
}

.requisitionTable {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: solid 0.5px;
  width: 100%;
  margin-top: 50px;
}

.h-25 {
    height: 15px;
}

.reqForm {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    margin-left: 200px;
}

.colReqForm{
    margin-left: 100px;
    width: 200px;
}

.submitReqForm {
    float: right;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 200px;
}

.submitRButton {
    float:right;
    justify-content: space-evenly;
    width: 200px;
    margin-left: 20px;
}

.tblReq{
    margin-top:20px;
}


tr:nth-child(even) {
    background-color: #f4f5f6;
}

td {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableIcons {
  padding-left: 30px;
}

.tableQuantity {
  display: flex;
  justify-content: center;
}

.tableHeader {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(
    to bottom right,
    #247494,
    #1c5a73,
    #103442,
    #000000
  );
  color: white;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%
}

.tableRow {
  border: solid 0.3px;
  display: flex;
  justify-content: space-evenly;
}

.tableRow:hover {
  background-color: #ddd;
}

button {
  display: inline-block;
  padding: 0.3em 1.2em;
  border: 0.1em;
  margin: 0.5em;
  border-radius: 1em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.15s;
}

button.manageButton {
  margin-right: 5%;
  margin-top: 0.5rem;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 5px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

button.manageButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

button.backButton {
  margin-right: 2%;
  margin-top: 0.5rem;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #777777;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 70px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}

button.backButton:hover {
  background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color: #dfdfdf;
}

button.greenButton {
  margin-right: 2%;
  box-shadow: inset 0px 1px 0px 0px #caefab;
  background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
  background-color: #77d42a;
  border-radius: 6px;
  border: 1px solid #268a16;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #aade7c;
}

button.greenButton:hover {
  background: linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
  background-color: #5cb811;
}

button.greenButton:active {
  position: relative;
  top: 1px;
}

button.redButton {
  margin-right: 2%;
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
}

button.redButton:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}

button.redButton:active {
  position: relative;
  top: 1px;
}

.collectView {
  width: 100%;
  text-align: right;
}

.distriView {
  width: 100%;
  text-align: center;
}

.collectView button {
  box-shadow: inset 0px 1px 0px 0px #fff6af;
  background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
  background-color: #ffec64;
  border-radius: 6px;
  border: 1px solid #ffaa22;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin-top: 1.5rem;
  margin-right: 7%;
}

.collectView button:hover {
  background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
  background-color: #ffab23;
}

.collectView button:active {
  position: relative;
  top: 1px;
}

.distriView button {
  box-shadow: inset 0px 1px 0px 0px #97c4fe;
  background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
  background-color: #3d94f6;
  border-radius: 6px;
  border: 1px solid #337fed;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1570cd;
  margin-top: 1.5rem;
}

.distriView button:hover {
  background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
  background-color: #1e62d0;
}

.distriView button:active {
  position: relative;
  top: 1px;
}

textarea {
  width: 100%;
  height: 100%;
  min-height: 50px;
  resize: vertical;
}

.tableColumn {
  float: left;
  width: 55%;
  padding: 0 10px;
}

.tableColumn h2 {
  text-align: center;
}

.cardColumn {
  float: left;
  width: 41%;
  padding: 0 10px;
  margin-right: 4%;
  margin-top: 3rem;
}

.card {
  width: 100%;
  height: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  float: left;
  border-radius: 40px;
}

.card h2 {
  margin-bottom: 3rem;
}

.card p {
  font-size: 22px;
  margin-bottom: 1rem;
}

.popupDialog {
  font-size: 12px;
  text-align: center;
}

.popupDialog > .dialogHeader {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  font-size: 18px;
}

.popupDialog > .dialogHeader h2 {
  font-size: 25px;
  margin-bottom: 1.5rem;
}

.popupDialog > .dialogContent {
  width: 100%;
  padding: 10px 5px;
  text-align: left;
  float: left;
}

.popupDialog > .dialogContent p {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-left: 20%;
}

.popupDialog > .dialogContent span {
  margin-top: 1.5rem;
  margin-bottom: 0.2rem;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  margin-left: 0.5rem;
}

.popupDialog > .dialogContent input[type="date"] {
  appearance: none;
  width: 60%;
  -webkit-appearance: none;
  color: #95a5a6;
  font-family: "Helvetica", arial, sans-serif;
  font-size: 18px;
  border: 1px solid #ecf0f1;
  background: #ecf0f1;
  padding: 5px;
  display: inline-block !important;
  visibility: visible !important;
  margin-left: 20%;
}

.popupDialog > .dialogContent input[type="date"],
focus {
  color: #95a5a6;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.popupDialog > .dialogContent input[type="radio"] {
  margin-left: 35%;
}

.select-css {
  display: block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 60%;
  margin-left: 20%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}

.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

@media all and (max-width: 30em) {
   button {
    display: block;
    margin: 0.4em auto;
  }
}

@media only screen and (max-width: 1200px) {
  .overallContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .cardColumn {
    order: -1;
    flex: 1 0 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1.5rem;
  }

  .tableColumn {
    flex: 1 0 100%;
  }

  .tableColumn h2 {
    margin-top: 1.5rem;
  }

  .popupDialog > .dialogHeader h2 {
    font-size: 18px;
  }

  .popupDialog > .dialogHeader h4 {
    font-size: 17px;
  }

  .popupDialog > .dialogContent p {
    margin-left: 10%;
  }

  .popupDialog > .dialogContent span {
    font-size: 13px;
    margin-left: 0.2rem;
  }

  .popupDialog > .dialogContent input[type="date"] {
    width: 80%;
    margin-left: 10%;
  }

  .popupDialog > .dialogContent input[type="radio"] {
    margin-left: 5%;
  }

  .select-css {
    max-width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 1600px) {
  .popupDialog > .dialogContent input[type="radio"] {
    margin-left: 8%;
  }
}
